
@mixin gridify($col, $width, $gutter: 2) {
    @media only screen and (min-width: #{$width}#{"px"}){
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{(100 / $col) - $gutter}#{"%"};
            }
        }
    }
}
/**
 * BOX-SIZING
 */
*, *:before, *:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */
.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(2, 400);
@include gridify(4, 600);
/**
 * GENERAL
 */
body {
    transition: opacity .25s ease;
}
.hidden{
    display:none;
}
.streamPlayer{
    height:500px;
    width:100%;
}
li{
    display: inline;
    margin: 10px;
}
.inline{
    display: inline;
    margin: 10px;
}
.margin{
    margin:10px;
}
.hover:hover{
    cursor: pointer;
}
/*fonts*/
body{
    font-family: 'Press Start 2P', cursive;
    background-color: #BFFFFF;
    color: white;
}
/* stream and chat */
.streamContainer{
    width:100%;
    display:inline;
}
.streamPlayer{
    border: 2px black solid;
}
.chatCont{
    border: 2px solid black;
}
.stream{
    width:66%;
    float:left;
    margin-left:3px;
}
.chat{
    width:33%;
    float:right;
}
.name{
    position:relative;
    text-align: center;
    color:darkviolet;
    padding:20px;
    width:100%;
}
.previewCont{
    content:"";
    font-size:1em;
    position:relative;
    color:darkviolet;
    width:30%;
    display:inline-block;
    padding-left:1.5em;
    padding-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
}
.previewCont img{
    border:2px solid black;
    box-shadow: -2px 2px 2px black;
}
/*.previewCont img:hover{
    transition:2.5s ease;
    border: 4px solid black;
    box-shadow: -4px 4px 4px black;
}*/
/*Browse all*/
.browseAll .browseCont{
    position:relative;
    left:3%;
    max-width: 100%;
}
.browseAll{
    position:relative;
    color:darkviolet;
    display:inline-block;
    width:100%;
}
a{
    color:black;
}
.browseAll .inline{
    height:1000px;
    font-family: 'Press Start 2p', cursive;
}
.browseAll div{
    font-family: arial;
    font-style: 12px;
}
.browseAll .hover{
    font-family: 'Press Start 2p', cursive;
}
/*
 * nav bar
 */
.navContainer{
    font-size:14px;
    border-top:2px solid black;
    border-bottom:2px solid black;
    background-color:black;
}
.navContainer a{
    color:#00FFFF;
    font-family:arial;
    display:inline;
}
/*.navContainer ul{
    display:inline;
    text-align:left;
    list-style: none;
}*/

/*
    quotes/buttons
 */
.quotes{
    transition: 2s linear;
    font-family:'Press Start 2p', cursive;
    background-color: black;
    color:#00FFFF;
    position:absolute;
    height:100%;
    width:100%;
    text-align: center;
}
.quotes div{
    transition: 2s linear;
    top:50%;
    position:relative;
    content:"";
}
.button{
    content:"";
    opacity:2;
    position:relative;
    margin:2px;
    opacity: 2;
    background-color: darkviolet;
}
button.quoteButton.button{
    content : "";
    position:relative;
    margin-top:15%;
}
.eightbit{
    display:none;
}
.goToGame{
    text-align: center;
}
.goToGame:hover{
    transition:1s linear;
    color:black;
    font-size:larger;
}
/*
    browse by stream
 */
.streamCont{
    content:"";
    font-size:1em;
    position:relative;
    color:darkviolet;
    width:30%;
    display:inline-block;
    padding-left:1.5em;
    padding-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
}
.streamCont img{
    border:2px solid black;
    box-shadow: -2px 2px 2px black;
}
/*.streamCont img:hover{
    border: 4px solid black;
    box-shadow: -4px 4px 4px black;
}*/
/*
    match history
 */
div.matchHistory{
    text-align: center;
    font-size:30px;
    font-family: 'Press Start 2p', cursive;
    margin: 20px;
}
.matches{
    position:relative;
    height:500px;
    width:100%;
    color:whitesmoke;
}
.matches *{
    position:relative;
    height:100%;
    width:100%;
    left:.5%;
}
.statistics{
    position:relative;
    display:inline-table;
    height: 0;
    max-width: 27%;
    color:whitesmoke;
    margin-top: 20px;
}
.statistics.three{
    left:-10%;
}


